@use "./styles/partials/mixins" as *;
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0); }
}

// Use Montserrat font as the default font for the entire application
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.decision-maker-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; /* Center the input container horizontally */
  align-items: center; /* Center the input container vertically */

  @include tablet {
    width: 100%;
  }
}

.decision-maker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;

  @include tablet {
    text-align: center;
    margin: auto;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3.125rem;
    width: auto;
    height: auto;
  }
}

.decision-text {
  margin-left: 1rem;
  text-align: center;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border: 3px solid #D1B7A1;
  border-radius: .25rem;
  padding: .25rem;
}

.hero-img {
  display: flex;
  width: 100%;
  max-width: 15rem; /* Limit maximum width */
  height: auto;
  transition: transform 0.5s ease-in-out; /* Smooth transition for the shake effect */

  @include tablet {
    border-radius: 1.25rem;
    height: auto;
    width: 20rem;
    margin-bottom: 1rem;
  }
}

.hero-img.shake {
  animation: shake 0.5s ease-in-out;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: first baseline;
  margin-bottom: 1.25rem;
  align-items: first baseline;
  margin-left: 1rem;
  margin-right: 1rem;

  @include tablet {
    width: auto;
    margin-left: 3rem;
    margin-right: 2.5rem;
  }

  @include desktop {
    padding-left: 3.25rem;
    padding-right: 2.5rem;
  }
}

.input-item {
  display: flex;
  justify-content: center;;
  align-items: center; /* Center items vertically */
  margin-right: 0.625rem; /* Add margin between input and button */
  margin-bottom: 0.625rem; /* Add margin between rows */
}

input {
  padding: .625rem;
  margin-right: .313rem;
  width: 3rem;

  @include tablet {
    padding: .625rem;
    margin-right: .313rem; /* Add margin between input elements */
    width: 8rem; 
  }
}

.delete-button {
  height: .5rem;
  width: .025rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decision-button,
.delete-button,
.add-name-button,
.add-activity-button {
  padding: .5rem; /* Adjust padding for buttons */
  background-color: #A18167;
  color: white;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  font-size: .75rem;

  @include tablet {
    padding: .625rem 1.25rem; /* Adjust padding for tablet */
    font-size: .8rem;
    margin-right: 0.625rem; /* Add margin between buttons */
  }
}

button:hover {
  background-color: #D1B7A1;
  color: black;
}

p {
  margin-top: 1.25rem;
  font-weight: bold;
}
